<div
  class="toast position-fixed align-items-center border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  id="liveToast"
  style="z-index: 1100"
>
  <div class="d-flex">
    <div class="toast-body">{{ toastMessage }}</div>
  </div>
</div>

<div class="walletName">
  <h3>Wallet: {{ walletInfo?.name }}</h3>
  <div>
    <app-button
      style="margin-right: 1vw"
      [config]="deleteButton"
      (click)="deleteWallet()"
    ></app-button>
    <app-button
      style="margin-right: 1vw"
      [config]="addCurrencyButton"
      data-bs-toggle="modal"
      data-bs-target="#addCryptoModal"
    ></app-button>
    <app-button [config]="turnConversionOnButton"></app-button>
  </div>
</div>

<div>
  <table
    class="table"
    *ngIf="
      walletInfo != null && walletInfo.currencies.length > 0;
      else noCurrencies
    "
  >
    <thead>
      <tr>
        <th scope="col">Cryptocurrency Name</th>
        <th scope="col">Amount</th>
        <th scope="col">Conversion</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let crypto of walletInfo.currencies">
        <th>{{ crypto.name }}</th>
        <td>{{ crypto.value }}</td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <ng-template #noCurrencies>
    <h3 style="margin-left: 42.5vw">No currencies added</h3>
  </ng-template>
</div>

<app-modal [dataBsTarget]="addCryptoModal">
  <div modal-header>
    <h1 class="modal-title fs-5">Add cryptocurrency</h1>
  </div>
  <div modal-body>
    <select
      class="form-select form-select-lg mb-3"
      aria-label="Large select example"
      (change)="onCryptoChange($event)"
    >
      <option selected disabled>Select Cryptocurrency</option>
      <option *ngFor="let name of cryptoNames" [value]="name">
        {{ name }}
      </option>
    </select>
    <app-input
      [config]="CryptoAmountInput"
      (providedValue)="onWCryptoAmountChange($event)"
    ></app-input>
  </div>
  <div modal-footer>
    <app-button
      style="margin-right: 0.5vw"
      [config]="closeButton"
      data-bs-dismiss="modal"
    ></app-button>
    <app-button [config]="addButton" (click)="addCrypto()"></app-button>
  </div>
</app-modal>
