<div
  class="toast position-fixed align-items-center border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  id="liveToast"
  style="z-index: 1100"
>
  <div class="d-flex">
    <div class="toast-body">{{ toastMessage }}</div>
  </div>
</div>

<div class="walletName">
  <h3>Wallet: {{ walletInfo?.name }}</h3>
  <div>
    <app-button
      style="margin-right: 1vw"
      [config]="deleteButton"
      (click)="deleteWallet()"
    ></app-button>
    <app-button
      style="margin-right: 1vw"
      [config]="addCurrencyButton"
      data-bs-toggle="modal"
      data-bs-target="#addCryptoModal"
    ></app-button>
    <app-button
      *ngIf="
        walletInfo &&
        !walletInfo?.conversionSwitched &&
        walletInfo.currencies.length > 0
      "
      [config]="turnConversionOnButton"
      (click)="TurnOnConversion()"
    ></app-button>
  </div>
</div>

<div>
  <table
    class="table"
    *ngIf="
      walletInfo != null && walletInfo.currencies.length > 0;
      else noCurrencies
    "
  >
    <thead>
      <tr style="text-align: center">
        <th scope="col">Cryptocurrency Name</th>
        <th scope="col">Amount</th>
        <th *ngIf="walletInfo.conversionSwitched" scope="col">Coin Price</th>
        <th *ngIf="walletInfo.conversionSwitched" scope="col">
          After conversion
        </th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let crypto of walletInfo.currencies"
        style="text-align: center"
      >
        <th>{{ crypto.name }}</th>
        <td>{{ crypto.value }} {{ crypto.description }}</td>
        <td *ngIf="walletInfo.conversionSwitched">
          {{ crypto.coinPrice }} PLN
        </td>
        <td
          *ngIf="walletInfo.conversionSwitched && crypto.coinPrice != undefined"
        >
          {{ crypto.coinPrice * crypto.value | number: '1.2-2' }} PLN
        </td>
        <td>
          <app-button
            [config]="removeCryptoButton"
            (click)="RemoveCryptoFromWallet(crypto.id)"
          >
          </app-button>
          <app-button
            style="margin-left: 0.5vw"
            [config]="updateCryptoButton"
            data-bs-toggle="modal"
            data-bs-target="#updateCryptoModal"
            (click)="setValues(crypto)"
          >
          </app-button>
        </td>
      </tr>
      <tr class="table-success" *ngIf="walletInfo.conversionSwitched">
        <td colspan="3" style="text-align: right">Sum:</td>
        <td style="text-align: center">
          {{ CalculateSum() | number: '1.2-2' }}
          PLN
        </td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <ng-template #noCurrencies>
    <h3 style="margin-left: 42.5vw">No currencies added</h3>
  </ng-template>
</div>

<app-modal [dataBsTarget]="addCryptoModal">
  <div modal-header>
    <h1 class="modal-title fs-5">Add cryptocurrency</h1>
  </div>
  <div modal-body>
    <select
      class="form-select form-select-lg mb-3"
      aria-label="Large select example"
      (change)="onCryptoChange($event)"
      id="cryptoSelector"
    >
      <option value="1" selected disabled>Select Cryptocurrency</option>
      <option *ngFor="let name of cryptoNames" [value]="name">
        {{ name }}
      </option>
    </select>
    <div *ngIf="validationErrors?.Name" class="text-danger">
      <p style="padding-left: 1vw" *ngFor="let error of validationErrors?.Name">
        {{ validationErrors?.Name }}
      </p>
    </div>

    <app-input
      [config]="CryptoAmountInput"
      (providedValue)="onWCryptoAmountChange($event)"
    ></app-input>
    <div *ngIf="validationErrors?.Value" class="text-danger">
      <p
        style="padding-left: 1vw"
        *ngFor="let error of validationErrors?.Value"
      >
        {{ validationErrors?.Value }}
      </p>
    </div>
  </div>
  <div modal-footer>
    <app-button
      style="margin-right: 0.5vw"
      [config]="closeButton"
      data-bs-dismiss="modal"
    ></app-button>
    <app-button [config]="addButton" (click)="addCrypto()"></app-button>
  </div>
</app-modal>

<app-modal [dataBsTarget]="updateCryptoModal">
  <div modal-header>
    <h1 class="modal-title fs-5">Update Cryptocurrency info</h1>
  </div>
  <div modal-body>
    <select
      class="form-select form-select-lg mb-3"
      aria-label="Large select example"
      (change)="onCryptoChange($event)"
      id="cryptoUpdateSelector"
    >
      <option value="1" selected disabled>Select Cryptocurrency</option>
      <option *ngFor="let name of cryptoNames" [value]="name">
        {{ name }}
      </option>
    </select>
    <div *ngIf="validationErrors?.Name" class="text-danger">
      <p style="padding-left: 1vw" *ngFor="let error of validationErrors?.Name">
        {{ validationErrors?.Name }}
      </p>
    </div>

    <app-input
      [config]="CryptoAmountInput"
      (providedValue)="onWCryptoAmountChange($event)"
      [name]="cryptoToUpdate.value"
    ></app-input>
    <div *ngIf="validationErrors?.Value" class="text-danger">
      <p
        style="padding-left: 1vw"
        *ngFor="let error of validationErrors?.Value"
      >
        {{ validationErrors?.Value }}
      </p>
    </div>
  </div>
  <div modal-footer>
    <app-button
      style="margin-right: 0.5vw"
      [config]="closeButton"
      data-bs-dismiss="modal"
    ></app-button>
    <app-button
      [config]="addButton"
      (click)="updateCryptoCurrency()"
    ></app-button>
  </div>
</app-modal>
