<div
  class="toast position-fixed align-items-right border-0"
  role="alert"
  aria-live="assertive"
  aria-atomic="true"
  id="liveToast"
  style="z-index: 1100"
>
  <div class="d-flex">
    <div class="toast-body">{{toastMessage}}</div>
  </div>
</div>

<h4>CryptoWallet</h4>
<app-button
  [config]="primaryButton"
  data-bs-toggle="modal"
  data-bs-target="#addWalletModal"
></app-button>

<div *ngIf="walletList.length > 0; else noWallets">
  <div class="cards">
    <div class="card" style="width: 18rem" *ngFor="let wallet of walletList">
      <div class="card-body">
        <h5 class="card-title">{{ wallet.name }}</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">
          Cryptocurrency Count: {{ wallet.cryptoCount }}
        </h6>
        <app-button
          [config]="detailsCardButton"
          (click)="navigateToWallet(wallet.id)"
        ></app-button>

        <app-button
          [config]="updateCardButton"
          data-bs-toggle="modal"
          data-bs-target="#updateWalletModal"
          (click)="walletName.currentValue = wallet.name"
        ></app-button>
      </div>
    </div>
  </div>
</div>

<ng-template #noWallets>
  <p class="noWallets">No wallets in the system. Add a new wallet.</p>
</ng-template>

<app-modal [dataBsTarget]="addModalBsTarget">
  <div modal-header>
    <h1 class="modal-title fs-5">Add new wallet</h1>
  </div>
  <div modal-body>
    <app-input
      [config]="walletName"
      (providedWalletName)="onWalletNameChange($event)"
    ></app-input>
  </div>
  <div modal-footer>
    <app-button
      style="margin-right: 0.5vw"
      [config]="closeButton"
      data-bs-dismiss="modal"
    ></app-button>
    <app-button [config]="saveButton" (click)="addWallet()"></app-button>
  </div>
</app-modal>

<app-modal [dataBsTarget]="updateModalBsTarget">
  <div modal-header>
    <h1 class="modal-title fs-5">Update wallet name</h1>
  </div>
  <div modal-body>
    <app-input
      [config]="walletName"
      (providedWalletName)="onWalletNameChange($event)"
    ></app-input>
  </div>
  <div modal-footer>
    <app-button
      style="margin-right: 0.5vw"
      [config]="closeButton"
      data-bs-dismiss="modal"
    ></app-button>
    <app-button [config]="saveButton" (click)="addWallet()"></app-button>
  </div>
</app-modal>
